.body{
    align-items: center;
}

.iconBanner{
    width: 130px;
    justify-content: center;
}

.banner{
    padding-top: 120px;
    display: grid;
    place-items: center;
}

.textBan{
    font-family: 'Geologica', sans-serif;
    font-weight: 300;
    width: 45%;
    text-align: center;
}